body {
    font-family: 'Roboto', sans-serif;
}

.custom-div {
        height: 100%;
        width: 220px;
        background-color: rgb(255, 255, 255);
        margin: 0 auto;
        text-align: center;
        border: 0px;
        box-shadow: gray 5px 5px;
        padding: 30px;
}

p {
    margin: 12px;
    padding: 20px;
}

img {
    border-radius: 75px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
}